.input {
  @apply outline-none w-full bg-transparent;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #747474;
  }
}

.title {
  @apply flex items-center justify-center text-[40px] font-black text-[#4ea8de];
}

.rocket_icon{
  @apply mr-3;
}

.span_do {
  @apply text-[#5e60ce];
}

.form_handler {
  @apply flex h-[54px] w-full gap-1;
}

.label {
  @apply flex items-center w-full rounded-lg border border-[#5e60ce] bg-[#262626] px-4;
}

.backspace_icon {
  @apply cursor-pointer;
}

.button {
  @apply flex items-center gap-1 text-nowrap rounded-lg bg-sky-700 p-4 hover:bg-sky-600;
}